body{
    background-color: rgb(142, 153, 248);
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    text-align: center;
}

main{
    background-color: rgb(255, 255, 116);
    margin: auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    min-width: 250px;

}
@media(max-width: 710px){
    main{
        flex-direction: column;
    }
}
main div{
    margin: auto;
    padding: 10px;
    min-width: 250px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px 0;
}
#divNome label {
    font-size: 30px;
}
#nome{
    background-color:  rgb(142, 153, 248) ;
    border:none;
    border-radius: 5px;
    max-width: 250px;
    height: 30px;
    margin: 5px;


}